body {
  background: rgb(235, 231, 231);
}
.container {
  width: 900px;
  height: 100vh;
  margin: auto;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fff;
}

.array-container {
  margin-top: 2rem;
  height: 460px;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.buttons {
  margin-top: 1rem;
}
